<ul class="nav navbar-nav">
      <li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Policy Planning <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">General Plan</li>
							<li><a href="#">Framework</a></li>
							<li><a href="#">General Plan Elements</a></li>
							<li><a href="#">Community Plans</a></li>
							<li><a href="#">Public Participation Process</a></li>
                            <li class="divider"></li>
							
              <li class="dropdown-header">Planning Process</li>
							<li><a href="#">Land Use entitlement Process</a></li>
							<li><a href="#">Public Participation</a></li>
							<li><a href="#">Entitlement Process</a></li>
                            <li><a href="#">California Environmental Quality Act</a></li>
							<li><a href="#">Community Plan Flow Chart</a></li>
							<li><a href="#">Community Design Overlay Flow Chart</a></li>
                            <li><a href="#">Streetscape Plan Flow Chart</a></li>
							
              
						</ul>
					</li>
					<li class="col-sm-6">
                        <ul>
							<li class="dropdown-header">Policy Initiatives</li>
							<li><a href="#">Policy Initiative 1</a></li>
							<li><a href="#">Policy Initiative 2</a></li>
							<li><a href="#">Policy Initiative 3</a></li>
							
							<li><a href="#">more...</a></li>
							<li class="divider"></li>
                            </br>
							<li class="dropdown-header">Ordinances</li>
							<li><a href="#">Adopted Ordinances</a></li>
							<li><a href="#">Proposed Ordinances</a></li>
                            </br>
                    
                            <li class="dropdown-header">Historic Preservation</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
                            <li class="dropdown-header">New Community Plans</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
						</ul>
					</li>

					
				</ul>
				
			</li>
			<li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Planning <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Sword of Truth</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Panda</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Button dropdowns</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
						</ul>
					</li>

					
				</ul>
				
			</li>
      <li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Data <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>

					
				</ul>
				
			</li>
      
      
      
      <li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms & Publications <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
					
				</ul>
				
			</li>
            <li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Organization <b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
					
				</ul>
				
			</li>
            <li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
				
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Sword of Truths</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
					
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">by brand</li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li><a href="#">Example</a></li>
							<li class="divider"></li>
              <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
						</ul>
					</li>
					
				</ul>
				
			</li>
        </ul>