<ul class="list-group">
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/agenda/">Agenda</a></li>
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/Hearing/">Hearing Notes</a></li>
</ul>

<h2>Commisinors</h2>
<ul class="list-group">
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/commisinors">Commisinors</a></li>
</ul>